# MicroPython on ESP32, ESP IDF configuration with SPIRAM support
# The following options override the defaults

CONFIG_IDF_TARGET="esp32cam"

CONFIG_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_IGNORE_NOTFOUND=y
CONFIG_SPIRAM_USE_MEMMAP=y
CONFIG_SPIRAM_USE_MALLOC=y

# ESP32-CAMERA
CONFIG_OV2640_SUPPORT=y
#CONFIG_OV7725_SUPPORT=y

CONFIG_BROWNOUT_DET_LVL=7
CONFIG_BROWNOUT_DET_LVL_SEL_7=y
CONFIG_BOOTLOADER_LOG_LEVEL=2
